Repository ylehjel/poc-repo, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, common-libs

feat(fake): update README
  README.md
Labels: none

feat(fake): update pr template
  .github/pull_request_template.md
Labels: none

feat(fake) : update backend.ts
  src/backend/backend.ts
Labels: backend

feat(fake): update github actions
  .github/workflows/pull-request-created.yml
  .github/workflows/pull-request-destroy.yml
Labels: none

feat(fake): commit backend 2
  src/backend/backend.ts
Labels: backend

feat(fake): update README (#1)
  README.md
  src/backend/backend.ts
Labels: backend

feat(fake) : update backend.ts
  src/frontend/backend.ts
Labels: frontend

.github/labeler.yml:

frontend:
    - 'src/frontend/**/*'

backend:
    - 'src/backend/**/*'

common-libs:
    - 'src/common-libs/**/*'
